.card {
    background-color: var(--form-bgc);
    transition: transform 0.1s;

    img {
        max-width: 100%;
        max-height: 400px;
        object-fit: cover;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        padding: 1rem;
    }

    &__type {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        font-size: 20px;
        font-weight: 700;
        color: #B4B4B4;
        text-transform: uppercase;
    }

    &__status {
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: var(--btn-bgc);
        display: inline-block;
        padding: 10px 24px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius: 3rem;
    }

    &:hover {
        transform: scale(1.05);
    }
}