{% extends "layout.html" %}
{% block title %} LIST {% endblock %}
{% block body %}
<div class="editlist">

    <h2 class="title">
        YOUR LIST
    </h2>


    {% if not medias %}
    
    <div class="container no-media">
        <p>There is no media in Your List yet</p>
        <a href="/add_media" class="btn">ADD MEDIA</a>
    </div>
    
    {% else %}


    <div class="container">
        <div class="list">

            {% for media in medias %}

            <div class="list__item">
                <div class="list__image">
                    <img src='{{ media["img"] }}' alt='{{ media["name"] }}'>
                </div>

                <div class="list__info">
                    <div class="list__title">
                        {{ media["name"] }}
                    </div>
                    <div class="list__type">
                        {{ media["type"] }}
                    </div>
                    <div class="list__status">
                        {{ media["status"] }}
                    </div>
                </div>

                <div class="list__controls">
                    <form action="/edit_list_item" method="get">
                        <input name="id" type="number" value='{{ media["id"] }}' hidden>
                        <input class="btn btn--edit" type="submit" value="EDIT">
                    </form>
                    <form action="/delete_item" method="post">
                        <input name="id" type="number" value='{{ media["id"] }}' hidden>
                        <input class="btn btn--danger" type="submit" value="DELETE">
                    </form>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    {% endif %}

</div>
{% endblock %}