{% extends "layout.html" %}
{% block title %} Plan To Watch {% endblock %}
{% block body %}
<div class="watching">

    <h2 class="title">
        Plan To Watch
    </h2>

    {% if not media %}

    <div class="container no-media">
        <p>There is no media in this category yet</p>
        <a href="/add_media" class="btn">ADD MEDIA</a>
    </div>

    {% else %}

    <div class="watching__main">
        <div class="container">
            <div class="grid">
                {% for row in media %}
                <div class="card">
                    <div class="card__image">
                        <img src='{{ row["img"] }}' alt='{{ row["name"] }}'>
                    </div>

                    <div class="card__title">
                        {{ row["name"] }}
                    </div>
                    <div class="card__type">
                        {{ row["type"] }}
                    </div>
                    <div class="card__status">
                        {{ row["status"] }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}