{% extends "layout.html" %}
{% block title %} WATCHING {% endblock %}
{% block body %}
<div class="watching">

    <h2 class="title">
        WATCHING
    </h2>

    <div class="watching__main">
        <div class="container">
            <div class="grid">
                <div class="card">
                    <div class="card__image">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTrqI60p3I82Q67Wh6HEyDC24Orl0qFzSWNX7EH6niO1SnvBsPl"
                            alt="The wolf of wall street">
                    </div>
                    <div class="card__title">
                        The wolf of wall street
                    </div>
                    <div class="card__type">
                        MOVIE
                    </div>
                    <div class="card__status">
                        WATCHING
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}